*{
    font-family: Arial, Helvetica, sans-serif
}

#form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0px;
    width: 20%;
}
input{
    width: 50%;
    margin: 5px;
}

#btn-enviar{
    border: 0em;
    border-radius: 0.2em;
    padding: 5px;
    cursor: pointer;
}

.resultado{
    display: flex;
    flex-direction: column;
}

.result{
    padding: 20px;
    height: fit-content;
    background-color: #e3e3e7;
    margin: 20px 0px;
    border-radius: 0.2em;    
}